[access]
	inheritFrom = All-Projects
[submit]
	action = cherry pick
[project]
[access "refs/*"]
	owner = group user/Marton Szegheo (szegheomarci)
	read = group szm_service-users
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group szm_service-users
	label-Code-Review = -2..+2 group user/Marton Szegheo (szegheomarci)
	label-Verified = -1..+1 group szm_service-users
	label-Verified = -1..+1 group user/Marton Szegheo (szegheomarci)
	push = group user/Marton Szegheo (szegheomarci)
	read = group user/Marton Szegheo (szegheomarci)
	rebase = group user/Marton Szegheo (szegheomarci)
	removeReviewer = group user/Marton Szegheo (szegheomarci)
	submit = group user/Marton Szegheo (szegheomarci)
[access "refs/heads/*"]
	create = group user/Marton Szegheo (szegheomarci)
	push = +force group user/Marton Szegheo (szegheomarci)
	pushMerge = group user/Marton Szegheo (szegheomarci)
	read = group user/Marton Szegheo (szegheomarci)
	label-Code-Review = -1..+1 group szm_service-users
	label-Verified = -1..+1 group szm_service-users
[access "refs/tags/*"]
	push = +force group szm_service-users
	push = +force group user/Marton Szegheo (szegheomarci)
	create = group szm_service-users
	create = group user/Marton Szegheo (szegheomarci)
	forgeAuthor = group szm_service-users
	forgeAuthor = group user/Marton Szegheo (szegheomarci)
	forgeCommitter = group szm_service-users
	forgeCommitter = group user/Marton Szegheo (szegheomarci)
[receive]
	requireChangeId = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
